$primaryColor: #016ab1;
$secondaryColor: rgb(18, 27, 80);
$secondaryColorHover: rgb(39, 50, 107);
$backgroundColor: rgb(7, 11, 37);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #fff;
}
h1 {
}
body {
	background-color: $backgroundColor;
	background: url('/assets/Hero.jpg') no-repeat center;
	background-blend-mode: darken;
	background-color: rgba(18, 27, 80, 0.6);
}

.home {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background: url('/assets/Hero.jpg') no-repeat center/cover;
	background-blend-mode: darken;
	background-color: rgba(18, 27, 80, 0.6);
	.hero {
		height: 80vh;
		background-blend-mode: darken;
		flex-grow: 1;

		#hero-left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: auto;
			div {
				width: 400px;
				margin: 200px auto 0px auto;
				h2 {
					font-size: 40px;
				}
				h3 {
					font-size: 20px;
					color: #ccc;
				}
				button {
					margin-top: 20px;
					background-color: $primaryColor;
					color: #fff;
					border-width: 0;
					padding: 5px 30px;
					border-radius: 50px;
					font-size: 25px;
					outline: none;
					a {
						text-decoration: none;
						color: #fff;
					}
					&:hover {
						box-shadow: 0 0 0 1px #fff;
					}
				}
			}
		}
	}
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: center;
}
.about {
	.left {
		height: 300px;
		display: flex;
		background-color: $primaryColor;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.right {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		padding: 40px;
	}
}
.features {
	background-color: $secondaryColor;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	.left {
		margin: auto;
		div {
			display: flex;
			align-items: center;
			margin: 10px;
			img {
				margin-right: 15px;
				width: 30px;
			}
		}

		display: flex;
		padding: 40px;
		flex-direction: column;
		justify-content: space-evenly;
		text-align: left;
	}
	.right {
		img {
			width: 100%;
		}
	}
}
.footer {
	grid-area: footer;
	min-height: 50px;
}
.nav {
	#logo {
		margin: 0 0 0 24px;
		font-size: 24px;
		flex-grow: 1;
		span {
			color: $primaryColor;
		}
		a {
			color: #fff;
			text-decoration: none;
		}
	}

	background-color: $secondaryColor;

	display: flex;
	grid-area: nav;
	justify-content: space-between;
	align-items: center;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		li {
			display: block;
			a {
				text-decoration: none;
				display: block;
				color: #fff;
			}
			&:hover {
				background-color: $secondaryColorHover;
			}
		}
	}
	.nav-text {
		padding: 1em;
	}
}
.dropdown {
	position: relative;
	#dropdown-container {
		display: none;
		position: absolute;
		background-color: $secondaryColor;
		a:hover {
			background-color: $secondaryColorHover;
		}
	}

	&:hover {
		#dropdown-container {
			display: flex;
			flex-direction: column;
			z-index: 2;
		}
	}
}
.button,
.dropdown-button {
	border: none;
	padding: 0.4em 2em;
	color: #000;
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	outline: none;
	display: block;
}
.button {
	border-radius: 5px;

	color: #fff;

	&:hover {
		box-shadow: 0 0 0 1px #fff;
		text-decoration: none;
		color: #fff;
	}
	&:disabled {
		background-color: #ccc;
		box-shadow: none;
	}
	margin-bottom: 10px;
}

.dropdown-button:hover {
	box-shadow: 0 0 0 1px #fff;
	text-decoration: none;
	color: #fff;
}
.primary-button {
	background-color: $primaryColor;
}
.dark-button {
	background-color: $backgroundColor;
}
.page-title {
	margin-top: 25px;
	text-align: center;
	font-size: 2rem;
}
.user-info {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: $secondaryColor;
	outline: 1px solid $secondaryColorHover;

	min-width: 300px;
	text-align: center;
}
.user-page {
	display: grid;
	margin: 10px auto;
	width: 80vw;
	grid-template-columns: auto auto;
	align-content: stretch;
	grid-auto-rows: 1fr;
	a {
		text-decoration: none;
	}
	.user-currents {
		display: grid;
		column-gap: 10px;
		grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
		justify-items: center;
		background-color: $secondaryColor;
		outline: 1px solid $secondaryColorHover;
		padding: 5px;
		min-width: 300px;

		.list-item {
			justify-self: center;
			margin-bottom: 10px;
		}

		.list-item-img {
			border: 1px solid #fff;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.user-form {
		margin-top: 2em;
		margin-bottom: 2em;
	}
}
.user-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
	a {
		text-decoration: none;
	}
	div {
		width: 225px;
		color: #fff;
		p {
			margin: 0;
		}
	}
	img {
		width: 225px;
		height: 225px;
		object-fit: cover;
		border-radius: 2px;
	}
}
.no-img {
	background-color: #c9c9c9 !important;
	border-radius: 2px;
	color: #787878 !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 225px;

	text-align: center;
	position: relative;
	text-decoration: none;
	width: 225px;
	vertical-align: middle;

	i {
		font-size: 48px;
	}
}
.set-user-button {
	margin-top: 1em;
	margin-bottom: 1em;
}
.user-form {
	text-align: left;
	margin-bottom: 1em;
	div {
		display: flex;
		justify-content: center;

		height: 100%;
		align-items: center;
		input {
			border-radius: 5px 0 0 5px;
			border: none;
			width: 100%;
			padding: 0.4em;
			color: #000;
		}
		button {
			background-color: $primaryColor;
			color: #fff;
			border-width: 0;
			padding: 0.4em 2em;
			border-radius: 0 5px 5px 0px;

			outline: none;
			a {
				text-decoration: none;
				color: #fff;
			}
			&:hover {
				box-shadow: 0 0 0 1px #fff;
			}
		}
	}
}

.dashboard-settings {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 1.4rem;
	border-bottom: 1px solid;
}

.lists {
	display: grid;
	margin: 10px;
	grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
	grid-template-rows: auto;
	.dark-button {
		a {
			display: block;
		}
	}
}
#list-title {
	text-align: center;
	margin-top: 25px;
	font-size: 2rem;
}
#list-link {
	color: #fff;
	margin-left: 15px;
	font-size: 1.1em;
}

.list-item {
	justify-self: center;
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	.list-item-info {
		font-weight: bold;
		color: #fff;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display: block;
		a {
			color: inherit;
			text-decoration: none;
		}
	}
	.list-item-status {
		width: inherit;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.total {
			border: #ddd solid 1px;
			border-radius: 2px;
			padding: 0 4px;
			color: #ddd;
			background-color: rgba($backgroundColor, 0.4);
		}
	}
	.list-item-img {
		border-radius: 5px;
		object-fit: cover;
		width: 225px;
		height: 300px;
		background-color: $backgroundColor;
	}
	width: 225px;
	.dark-button {
		padding: 5px 30px;
	}
}
.dot {
	border-radius: 50%;
	width: 2px;
	padding: 0px;
	margin: 3px 5px;
	text-align: center;
	background-color: white;
	border: 2px solid white;
	display: inline-block;
}
.spinner-page-container,
.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.spinner-page-container {
	margin-top: 200px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.spinner-container {
	height: 100%;
}
.spinner {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	.spinner-sector {
		border-radius: 50%;
		position: absolute;
		width: 100%;
		height: 100%;
		border: 5px solid transparent;
		mix-blend-mode: overlay;
	}

	.spinner-sector-blue {
		animation: rotate 1s ease infinite;
		border-top: 5px solid $primaryColor;
	}
	.spinner-sector-white {
		animation: rotate 2s ease-in infinite;
		border-top: 5px solid #fff;
	}
	.spinner-sector-grey {
		animation: rotate 1.5s ease-out infinite;
		border-top: 5px solid #999;
	}

	.spinner-text {
		font-size: 1em;
		animation: loading-opacity 3s ease-in-out infinite;
	}
}
.spinner-big {
	font-size: 2em;
	width: 300px;
	height: 300px;
	.spinner-sector {
		border: 15px solid transparent;
	}
	.spinner-sector-blue {
		animation: rotate 1s ease infinite;
		border-top: 15px solid $primaryColor;
	}
	.spinner-sector-white {
		animation: rotate 2s ease-in infinite;
		border-top: 15px solid #fff;
	}
	.spinner-sector-grey {
		animation: rotate 1.5s ease-out infinite;
		border-top: 15px solid #999;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes loading-opacity {
	0%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0.5;
	}
	50% {
		opacity: 0.1;
	}
}

.current {
	position: absolute;
	top: 10px;
	right: 10px;
	border: 1px solid #fff;
}

@media (max-width: 800px) {
	.user-page {
		grid-auto-rows: auto;
		grid-template-columns: none;
	}
	.lists {
		grid-template-rows: auto;
		grid-template-columns: 1fr;
	}
	.features {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 1000px) {
	.user-page {
		grid-auto-rows: auto;
		grid-template-columns: 1fr;
	}
}
.currentRandomColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	.dark-button {
		padding: 0.4em 2em;
	}
}

.width100 {
	width: 100%;
}

.pager {
	display: flex;
	justify-content: center;
	.dropdown {
		margin: 0 5px;
		width: 300px;

		#dropdown-container {
			max-height: calc((0.8em + 2rem) * 5);
			overflow-y: auto;
			width: 100%;
			background-color: #fff;
		}
		.dropdown-button {
			line-height: 2;
			border: 1px #000;
		}
	}
}
.top-text {
	background-color: #fff;
	color: #000;

	text-align: center;
	padding: 0.4em 2em;
	position: relative;
	span {
		color: inherit;
	}
	i {
		position: absolute;
		color: inherit;
		right: 1rem;
		top: 25%;
	}
}
body.modal-open {
	height: 100vh;
	overflow-y: hidden;
}
.modal-background {
	position: fixed;
	background-color: rgba(50, 50, 50, 0.6);
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	.modal-container {
		height: 300px;
		background-color: $secondaryColor;
		display: flex;
		margin: auto;
		align-items: center;
		border: 1px solid $secondaryColorHover;
		border-radius: 5px;
		flex-direction: column;
		justify-content: center;
		.user-info {
			outline: none;
			border: none;
			min-height: 425px;
		}
	}
	.modal-header {
		display: flex;
		justify-content: flex-end;
		font-size: 1.2rem;
		padding: 0.6rem 1.2rem;
		width: 100%;
		border-bottom: 1px solid $secondaryColorHover;
		background-color: $secondaryColor;
	}
}

.left-button {
	margin-left: 5px;
}
.right-button {
	margin-right: 5px;
}
